<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::frgHead">

</head>
<body class="is-preload landing">
	<div id="page-wrapper">
		<header id="header" th:replace="layout::frgHeader"></header>
		<div id="main" class="wrapper style1">
		<section >
			<h3 th:text="${title}"></h3>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Fecha</th>
							<th>Lugar</th>
							<th><a class="button"
								th:href="@{/evento/create}"><i class="fas fa-plus-circle fa-sm text-white-50"></i>
									&nbsp;Nuevo &nbsp; </a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${eventos}">
							<td th:text="${a.nombre}"></td>
							<td th:text="${a.lugar}"></td>
							<td th:text="${a.fechaEve()}"></td>
							<td><a class="button"
								th:href="@{/evento/update/} + ${a.idEvento}"><i
									class="fas fa-edit fa-sm text-white-50"></i> &nbsp;Actualizar</a> <a
								class="button" th:href="@{/evento/retrieve/} + ${a.idEvento}"><i
									class="fas fa-eye fa-sm text-white-50"></i>&nbsp;Consultar</a></td>


						</tr>
					</tbody>


				</table>
				
			</div>
		</section>
		</div>
		
		
		<footer id="footer" th:replace="layout::frgFooter" ></footer>
	</div>
	<div  th:replace="layout::frgScripts" ></div>
</body>
</html>